@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

/* thin scrollbars for calendar */
.nice-scroll::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.nice-scroll::-webkit-scrollbar-thumb {
  background: rgb(148 163 184 / 0.35);
  border-radius: 999px;
}
